.GridContainer{
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  place-items: center;
}

.GridBoxes{
    /* background-color: rgba(255, 255, 255, 0.8);   */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 1rem;
}
.text_det{
 font-size: 1.5rem;
 font-family:sans-serif;
 font-weight: 500;
}
.GridImage{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}