.ServicesContent{
    display: flex ;
    flex-direction: column;
    text-align: center;
}
body {
    margin:0;
}

.category-name {
    font-family: sans-serif;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 40px;
}

  


.card-category-1, .card-category-2, .card-category-3, .card-category-4, .card-category-5, .card-category-6 {
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
}
    .card-category-1 div, .card-category-2 div {
        display:inline-block;
    }
.card-container{
    padding: 30px 30px;
}
    .card-category-1 > div, .card-category-2 > div:not(:last-child) {
        margin: 15px 20px;
        text-align: left;
    }

    /* Basic Card */
    .basic-card {
        width:350px;
        position: relative;
        
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    }
    
        .basic-card .card-content {
            padding: 30px;
        }

        .basic-card .card-title {
            font-size: 25px;
            font-family: 'Open Sans', sans-serif;
        }

        .basic-card .card-text {
            line-height: 1.6;
        }

        .basic-card .card-link {
            padding: 25px;
            width: -webkit-fill-available;
        }

            .basic-card .card-link a {
                text-decoration: none;
                position: relative;
                padding: 10px 0px;
            }

            .basic-card .card-link a:after {
                top: 30px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                width: 0;

                -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }

            .basic-card .card-link a:hover:after { 
                width: 100%; 
                left: 0; 
            }
    
    
    .basic-card-aqua {
        background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
    }

        .basic-card-aqua .card-content, .basic-card .card-link a {
            color: #fff;
        }
        
        .basic-card-aqua .card-link {
            border-top:1px solid #82c1bb;
        }

            .basic-card-aqua .card-link a:after {
                background:#fff;
            }

    .basic-card-lips {
        background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
    }

        .basic-card-lips .card-content {
            color: #fff;
        }

        .basic-card-lips .card-link {
            border-top: 1px solid #ff97ba;
        }

            .basic-card-lips .card-link a:after {
                background:#fff;
            }
    
    .basic-card-light {
        border: 1px solid #eee;
    }

        .basic-card-light .card-title, .basic-card-light .card-link a {
            color: #636363;
        }
        
        .basic-card-light .card-text {
            color: #7b7b7b;
        }

        .basic-card-light .card-link {
            border-top: 1px solid #eee;
        }

            .basic-card-light .card-link a:after {
                background:#636363;
            }

    .basic-card-dark {
        background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
    }

        .basic-card-dark .card-title, .basic-card-dark .card-link a {
            color:#eee;
        }

        .basic-card-dark .card-text {
            color: #dcdcdcdd;
        }

        .basic-card-dark .card-link {
            border-top: 1px solid #636363;
        }

        .basic-card-dark .card-link a:after {
            background:#eee;
        }

.ServicesTitle{
    font-family: sans-serif;
    font-size: 48px;
    font-weight:  600;
    text-align: center;
    color: #00bfad;
    font-style: italic;


}
.ServicesHeading{
    font-size: 32px;
    color: #00bfad;
    font-weight: 600;
    font-style: italic ;
}
.ServicesText{
    font-size: 22px;
    color: grey;
    font-weight: 600;
    font-style: italic ;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-6 3:3:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-6 3:6:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
